{% extends "base.html" %}
{% block content %}
<script>
    const subcategories = {
     'обувь': [['-1', 'Выберите подкатегорию'], ['туфли', 'Туфли'], ['демисезонная', 'Демисезонная'],
        ['зимняя','Зимняя'], ['летняя','Летняя']],
     'комбинезоны': [['-1', 'Выберите подкатегорию'], ['комбинезоны', 'Комбинезоны']],
     'низ': [['-1', 'Выберите подкатегорию'], ['шорты', 'Шорты'], ['юбки', 'Юбки'],
        ['спортивные штаны', 'Спортивные штаны'], ['брюки', 'Брюки'], ['джинсы', 'Джинсы']],
     'платья': [['-1', 'Выберите подкатегорию'], ['вечерние', 'Вечерние'], ['повседневные', 'Повседневные']],
     'верх': [['-1', 'Выберите подкатегорию'], ['футболки', 'Футболки'], ['рубашки и блузки', 'Рубашки и блузки'],
         ['свитера', 'Свитера'], ['топы', 'Топы'], ['водолазки', 'Водолазки'], ['пиджаки', 'Пиджаки'],
         ['толстовки', 'Толстовки'], ['жилетки', 'Жилетки'], ['верхняя одежда', 'Верхняя одежда']],
     'аксессуары': [['-1', 'Выберите подкатегорию'], ['серьги', 'Серьги'], ['подвески', 'Подвески'],
        ['браслеты', 'Браслеты'], ['очки', 'Очки'], ['головной убор', 'Головной убор']]
    };
    function updateSubcategories() {
        const category = document.getElementById('category').value;
        const subcategorySelect = document.getElementById('subcategory');
        subcategorySelect.innerHTML = '';
        subcategories[category].forEach(subcategory => {
            const option = document.createElement('option');
            option.value = subcategory[0];
            option.textContent = subcategory[1];
            subcategorySelect.appendChild(option);
        });
        if (category) {
            subcategoryLabel.style.display = 'block';
            subcategorySelect.style.display = 'block';
        } else {
            subcategoryLabel.style.display = 'none';
            subcategorySelect.style.display = 'none';
        }
    }
    window.onload = function() {
        document.getElementById('subcategoryLabel').style.display = 'none';
        document.getElementById('subcategory').style.display = 'none';
    };
    document.addEventListener("DOMContentLoaded", function () {
        const dropZone = document.querySelector('.drop-zone');
        const fileInput = document.getElementById('image_input');

        ['dragenter', 'dragover'].forEach(eventName => {
            dropZone.addEventListener(eventName, handleDragOver);
        });

        dropZone.addEventListener('drop', handleDrop);

        function handleDragOver(e) {
            e.preventDefault();
            dropZone.classList.add('drop-zone--over');
        }

        function handleDrop(e) {
            e.preventDefault();
            dropZone.classList.remove('drop-zone--over');

            if (e.dataTransfer.files.length > 0) {
              fileInput.files = e.dataTransfer.files;
            }
        }
    });
</script>
<div class="login-container">
    <h1 class="login-title">Добавление вещи</h1>
    <form action="" method="POST" class="login-form" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        {% if message %}
        <div class="alert alert-danger" role="alert">{{ message }}</div>
        {% endif %}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(class="form-control", type="text") }}<br>
            {% for error in form.name.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
        </p>

        <p>
            {{ form.image.label }}<br>
            <div class="drop-zone">
            Перетащите файл сюда...
            </div>
        <p style="text-align:center"> или </p>
            {{ form.image(id="image_input", class="form-control") }}<br>
            {% for error in form.image.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
        </p>

        <p>
            {{ form.category.label }}<br>
            {{ form.category(id='category', class="form-control", onchange='updateSubcategories()') }}
            <label id="subcategoryLabel", for="subcategory"><br>Выберите подкатегорию</label>
            <select id="subcategory", class="form-control", name="subcategory">
                <option value="">Выберите подкатегорию</option>
            </select><br>
            {% for error in form.category.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
        </p>
        <p>
            {{ form.season.label }}<br>
            {{ form.season(class="form-control", type="select") }}<br>
            {% for error in form.season.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
        </p>
        <p>
            {{ form.colors.label }}<br>
            {{ form.colors(class="form-control", type="select") }}<br>
            {% for error in form.colors.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
        </p>
        <span style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
        <p>{{ form.submit(type="submit", class="btn btn-primary mybtn additem-button") }}</p>
        </span>
    </form>
</div>
{% endblock %}

