{% extends "base.html" %}
{% block content %}
<div class="info-container">
    <img src="/static/img/wardrobe.jpg">
    <h3 class="info info-text"><span class="main-name">Wardrober</span> — Ваш виртуальный помощник на каждый день,
        который поможет организовать гардероб
        и подобрать стильные образы</h3>
</div>
<div>
    <h3 class="description"> <span class="dot">·</span>  Создавай свой виртуальный гардероб (загрузи фото одежды и аксессуаров)<br>
 <span class="dot">·</span>  Комбинируй вещи в образы<br>
 <span class="dot">·</span>  Сохраняй удачные комбинации и используй их снова и снова <br>
 <span class="dot">·</span>  Ищи вдохновения на странице Модные советы. Самые актуальный тренды и креативные решения</h3>


</div>
{% endblock %}
