{% extends "base.html" %}
{% block content %}
<div class="info-container">
    <img src="/static/img/wardrobe.jpg">
    <h3 class="info info-text"><span class="main-name">Wardrober</span> — Ваш виртуальный помощник,
        который позволит Вам организовать свой гардероб
        и подбирать стильные образы</h3>
</div>
<div class="description">
    <h2>Основные функции сайта:</h2>
    <h3 class="info-text">Основные функции сайта: <br>
 — Создание виртуального гардероба: пользователи загружают фотографии своей одежды и аксессуаров, а приложение создаёт виртуальный гардероб с возможностью сортировки и фильтрации предметов по категориям и подкатегориям, материалам и цветам.<br>
— Сохранение удачных образов. Добавляйте идеально сочетающиеся предметы гардероба в комплект, и надевайте эту комбинацию снова и снова!<br>
— Неиссякаемый источник вдохновения.  Вы сможете найти его на странице с Модные советы, где представлены самые актуальные статьи на тему моды</h3>
</div>
{% endblock %}
