{% extends "base.html" %}
{% block content %}
<div class="body_wrd">
    <div class="categories-container_wrd">
        <div class="categories-group_wrd">
            <div class="category-item_wrd active_wrd has-subcategories_wrd" data-subcategory="all">Все</div>
            <div class="category-item_wrd has-subcategories_wrd" data-subcategory="up">Верх</div>
            <div class="category-item_wrd has-subcategories_wrd" data-subcategory="down">Низ</div>
            <div class="category-item_wrd has-subcategories_wrd" data-subcategory="dress">Платья</div>
            <div class="category-item_wrd">Комбинезоны</div>
            <div class="category-item_wrd has-subcategories_wrd" data-subcategory="shoes">Обувь</div>
            <div class="category-item_wrd has-subcategories_wrd" data-subcategory="accessories">Аксессуары</div>
        </div>

        <div class="subcategories-container_wrd" id="all-sub">
            <div class="subcategories-scroll_wrd">
                <div class="subcategory-item_wrd">Верхняя одежда</div>
                <div class="subcategory-item_wrd">Жилетки</div>
                <div class="subcategory-item_wrd">Толстовки</div>
                <div class="subcategory-item_wrd">Рубашки и блузки</div>
                <div class="subcategory-item_wrd">Пиджаки</div>
                <div class="subcategory-item_wrd">Водолазки</div>
                <div class="subcategory-item_wrd">Футболки</div>
                <div class="subcategory-item_wrd">Топы</div>
                <div class="subcategory-item_wrd">Свитера</div>
                <div class="subcategory-item_wrd">Джинсы</div>
                <div class="subcategory-item_wrd">Брюки</div>
                <div class="subcategory-item_wrd">Спортивные штаны</div>
                <div class="subcategory-item_wrd">Юбки</div>
                <div class="subcategory-item_wrd">Шорты</div>
                <div class="subcategory-item_wrd">Вечерние платья</div>
                <div class="subcategory-item_wrd">Повседневные платья</div>
                <div class="subcategory-item_wrd">Летняя обувь</div>
                <div class="subcategory-item_wrd">Зимняя обувь</div>
                <div class="subcategory-item_wrd">Демисезонная обувь</div>
                <div class="subcategory-item_wrd">Туфли</div>
                <div class="subcategory-item_wrd">Головной убор</div>
                <div class="subcategory-item_wrd">Очки</div>
                <div class="subcategory-item_wrd">Браслеты</div>
                <div class="subcategory-item_wrd">Подвески</div>
                <div class="subcategory-item_wrd">Серьги</div>
            </div>
        </div>

        <div class="subcategories-container_wrd" id="up-sub">
            <div class="subcategories-scroll_wrd">
                <div class="subcategory-item_wrd">Верхняя одежда</div>
                <div class="subcategory-item_wrd">Жилетки</div>
                <div class="subcategory-item_wrd">Толстовки</div>
                <div class="subcategory-item_wrd">Рубашки и блузки</div>
                <div class="subcategory-item_wrd">Пиджаки</div>
                <div class="subcategory-item_wrd">Водолазки</div>
                <div class="subcategory-item_wrd">Футболки</div>
                <div class="subcategory-item_wrd">Топы</div>
                <div class="subcategory-item_wrd">Свитера</div>
            </div>
        </div>

        <div class="subcategories-container_wrd" id="down-sub">
            <div class="subcategories-scroll_wrd">
                <div class="subcategory-item_wrd">Джинсы</div>
                <div class="subcategory-item_wrd">Брюки</div>
                <div class="subcategory-item_wrd">Спортивные штаны</div>
                <div class="subcategory-item_wrd">Юбки</div>
                <div class="subcategory-item_wrd">Шорты</div>
            </div>
        </div>

        <div class="subcategories-container_wrd" id="dress-sub">
            <div class="subcategories-scroll_wrd">
                <div class="subcategory-item_wrd">Вечерние</div>
                <div class="subcategory-item_wrd">Повседневные</div>
            </div>
        </div>

        <div class="subcategories-container_wrd" id="shoes-sub">
            <div class="subcategories-scroll_wrd">
                <div class="subcategory-item_wrd">Летняя</div>
                <div class="subcategory-item_wrd">Зимняя</div>
                <div class="subcategory-item_wrd">Демисезонная</div>
                <div class="subcategory-item_wrd">Туфли</div>
            </div>
        </div>

        <div class="subcategories-container_wrd" id="accessories-sub">
            <div class="subcategories-scroll_wrd">
                <div class="subcategory-item_wrd">Головной убор</div>
                <div class="subcategory-item_wrd">Очки</div>
                <div class="subcategory-item_wrd">Браслеты</div>
                <div class="subcategory-item_wrd">Подвески</div>
                <div class="subcategory-item_wrd">Серьги</div>
            </div>
        </div>
    </div>

    <div style="margin-top: 10px;">
        <button class="add-item-btn_wrd">Добавить вещь</button>
    </div>

    <div style="margin-top: 30px;">
        <div style="margin-bottom: 30px;">
            <div class="cards-grid_wrd">
                <div class="card_wrd">
                    <div class="card-title_wrd">Card title</div>
                    <div class="card-text_wrd">Some quick example text to build on the card title and make up the
                        bulk of the card's content.
                    </div>
                    <a href="#" class="card-link_wrd">Go somewhere</a>
                </div>

                <div class="card_wrd">
                    <div class="card-title_wrd">Card title</div>
                    <div class="card-text_wrd">Some quick example text to build on the card title and make up the
                        bulk of the card's content.
                    </div>
                    <a href="#" class="card-link_wrd">Go somewhere</a>
                </div>

                <div class="card_wrd">
                    <div class="card-title_wrd">Card title</div>
                    <div class="card-text_wrd">Some quick example text to build on the card title and make up the
                        bulk of the card's content.
                    </div>
                    <a href="#" class="card-link_wrd">Go somewhere</a>
                </div>

                <div class="card_wrd">
                    <div class="card-title_wrd">Card title</div>
                    <div class="card-text_wrd">Some quick example text to build on the card title and make up the
                        bulk of the card's content.
                    </div>
                    <a href="#" class="card-link_wrd">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.querySelectorAll('.category-item_wrd').forEach(item => {
            item.addEventListener('click', function() {
                document.querySelectorAll('.category-item_wrd').forEach(el => {
                    el.classList.remove('active_wrd');
                });
                this.classList.add('active_wrd');
                document.querySelectorAll('.subcategories-container_wrd').forEach(el => {
                    el.classList.remove('active_wrd');
});
                if (this.classList.contains('has-subcategories_wrd')) {
                    const subId = this.getAttribute('data-subcategory') + '-sub';
                    document.getElementById(subId).classList.add('active_wrd');
                    document.getElementById(subId).scrollIntoView({
                        behavior: 'smooth',
                        block: 'nearest'
                    });
                }
            });
        });
        document.querySelectorAll('.subcategory-item_wrd').forEach(item => {
            item.addEventListener('click', function() {
                document.querySelectorAll('.subcategory-item_wrd').forEach(el => {
                    el.classList.remove('active_wrd');
                });
                this.classList.add('active_wrd');
            });
        });
        document.querySelector('.add-item-btn_wrd').addEventListener('click', function() {
            alert('Функция "Добавить вещь" будет реализована здесь');
        });
        const activeCategory = document.querySelector('.category-item_wrd.active_wrd');
        if (activeCategory && activeCategory.classList.contains('has-subcategories_wrd')) {
            const subId = activeCategory.getAttribute('data-subcategory') + '-sub';
            document.getElementById(subId).classList.add('active_wrd');
        }
    </script>
</div>
{% endblock %}