{% extends "base.html" %}
{% block content %}
<div class="body_wrd">
    <div class="button-container_wrd">
        <a href="/wardrobe" class="btn_categories_wrd">Все</a>
        <a href="/wardrobe/up" class="btn_categories_wrd">Верх</a>
        <a href="/wardrobe/down" class="btn_categories_wrd">Низ</a>
        <a href="/wardrobe/shoes" class="btn_categories_wrd">Обувь</a>
        <a href="/wardrobe/accessories" class="btn_categories_wrd">Аксессуары</a>
        <a href="/wardrobe/dress" class="btn_categories_wrd">Платья</a>
        <a href="/wardrobe/overalls" class="btn_categories_wrd">Комбинезоны</a>
    </div>
</div>
{% endblock %}